@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(135deg, #28a745, #81c784);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg2: linear-gradient(270deg, #FFF 7.19%, rgba(209, 235, 210, 0.75) 49.29%, rgba(76, 175, 80, 0.17) 99.72%), var(--St2, #FFF);
  --color-bg: #B2FFC9;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text:  #3D6184;;
  --color-subtext: #FF8A71;
}